{% extends 'catalog/base.html' %}

{% block content %}
<section class="py-5 text-center container">

    <div class="row">
        <div class="col-lg-6 col-md-8 mx-auto">

            <h1 class="fw-bolder fs-1">Главная страница</h1>
            <br>
            <p class="lead text-danger fs-4 fw-bolder">Вы находитесь на сайте, предназначенном для любования
                покемонами!</p>
            <p class="lead fw-bolder">Добро пожаловать!</p>

            <img src="static/images/pika.png" alt="Pika">

        </div>
    </div>
</section>
{% endblock %}
